@import 'animate-bank'

// Config
$__animateCaching: true !default
$__animateDuration: 1000ms !default
$__animateUsedKeyframes: () !default

// Mixin
=animate($name, $duration: $__animateDuration, $delay: null)
  $cachedProps: ()
  // Check bank
  @if map-has-key($__animateBank, $name)

    // Check if keyframe is already rendered
    @if not index($__animateUsedKeyframes, $name)
      $__animateUsedKeyframes: append($__animateUsedKeyframes, $name) !global

      // Create keyframe entry
      @keyframes #{$name}
        @each $stop, $styles in map-get($__animateBank, $name)
          @if $stop != default
            #{$stop}
              @each $prop, $value in $styles
                #{$prop}: $value
                // Get props to accelerate
                @if $__animateCaching and not index($cachedProps, $prop)
                  $cachedProps: append($cachedProps, $prop, comma)

    // Set animation properties on element
    animation-name: $name
    animation-duration: $duration
    animation-delay: $delay
    animation-fill-mode: both // animate.css default

    // Add extra animation defaults
    @if map-get(map-get($__animateBank, $name), default)
      @each $prop, $value in map-get(map-get($__animateBank, $name), default)
        #{$prop}: $value

    // Hardware acceleration
    will-change: if(length($cachedProps) > 0, $cachedProps, null)

  @else
    @error '\'#{$name}\' not found in animation bank.'
